.text-decoration1 {
	color: #82983A;
}

.emphasis1 {
	font-weight:bold;
	color:green;
}

.emphasis2 {
	font-style: italic;
	font-size: small;
	font-weight: bold;
}
.newStyle1 {
	font-size: medium;
	font-weight: bold;
	color: #000000;
}

.newStyle2 {
	color: #82983A;
	font-weight: bold;
	font-size: small;
	font-style: italic;
}
.text-decoration2 {
	color: #82983A;
	font-weight: bold;
}

