body {
	margin: 0;
	background:#DEE1D8 url('../images/bg-main.jpg') repeat-x;
}

a img {
	border:0;
}


#container {
	background:url('../images/bg-content.jpg') repeat-y transparent;
	width:877px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	
}

#container-sub {
	background: url('../images/bg-content-sub.jpg') no-repeat transparent;
	padding-top:10px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:10px;

}
#logo{
    float: left;
}
#logo a{
    display: block;
    width: 180px;
    height: 100px;
    text-indent: -9999px;
    overflow: hidden;
}

#head-inner {
	background:white url('../images/head-inner.jpg') no-repeat;
	height:166px;
	width:817px;
}


#head-inner ul {
	margin:0;
	padding:0;
	list-style:none;
}

#head-inner li {
	float:right;
	
}

#head-inner ul a {
	color:#CDD6A8;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	display:block;
	padding:4px 8px 4px 8px;
	background-color:#9DB863;
	border-left:1px white solid;
	
}

#head-inner ul a:hover {
	color: white;
	background-color: #5B7E2F;
}

#wrapper {
	width: 797px;
	padding: 10px;
	color: #464646;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

#wrapper  a {
	color: #82983A;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
}

#wrapper  a:hover {
	text-decoration:none;
}


#sideContent {
	width:201px;
	border-right:1px #C4CCAC solid;
	padding-right:10px;
	vertical-align:top;
}

#sideContent td.sideHeading {
	font-family:Verdana;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
	color:#A0B55B;
}

#sideContent td.sideColLeft, #sideContent td.sideColLeft a {
	font-family:Verdana;
	font-size:9px;
	color:#577923;
	font-weight:normal;
	text-decoration:none;
}

#sideContent td.sideColLeft a:hover {
	text-decoration:underline;
}



#sideContent td.sideColRight {
	font-family:Verdana;
	font-size:9px;
	text-align:right;
	color:#A5AA85;
	font-style:italic;
}

#sideContent tr.sideBorder td {
	border-bottom:1px #A5AA85 dotted;
}

#sideContent tr {
	padding:4px 0 4px 0;
}


#primaryContent {
	width:335px;
	padding: 0 10px 0 10px;
	vertical-align:top;
}

#primaryContent ul {
	margin:2px 0px 2px 10px;
	padding:0px;
	list-style:none;

}

#primaryContent ul li {
	background: transparent url("../images/bullet.gif") no-repeat 0 0;
	padding-left:10px;
}

#primaryContent h1 {
	font-size:16px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:5px;
}


.text-bold {
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

#primayContent h3 {
	font-size:12px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:5px;
}

#primayContent h4 {
	font-size:11px;
	font-weight:normal;
	font-style:italic;
	margin-top:0px;
	margin-bottom:10px;
}

#primayContent p {
	text-align:justify;
}

#secondaryContent {

	width:201px;
	background-image:url('../images/bg-right-column.jpg');
	background-repeat:no-repeat;
	background-position:left top;
	padding:0 5px 0 5px;
	vertical-align:top;
}

#secondaryContent .secondaryHeading {
	color:#A9B07E;
	padding:4px 5px 4px 5px;
	margin:10px 5px 10px 5px;
	border-bottom:1px #CCD0B1 solid;
	border-top:1px #CCD0B1 solid;
}

#secondaryContent .secondaryHeading h1 {
	font-family:Verdana;
	font-size: 11px;
	font-weight: bold;
	margin:0;
	padding:0;
	text-transform: uppercase;
	letter-spacing:2px;
}

#secondaryContent p {
	padding:5px 10px 5px 15px;
	font-size:11px;
}

#secondaryContent ul {
	margin:10px 10px 10px 15px;
	padding:0;
	list-style:none;
}

#secondaryContent ul li {
	margin-top:5px;
}

#secondaryContent ul li a {
	color: #82983A;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
}

#secondaryContent ul li a:hover {
	text-decoration:none;
}


#containerFooter {
	width:877px;
	margin-left:auto;
	margin-right:auto;
}
#containerFooterSub {
	margin-top:10px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:10px;
}

#footerTop {
	height:7px;
	background-color:#5B7E2F;
	margin:7px 0 5px 0;
}

#footerNav {
	padding:15px 5px 15px 5px;
	background-color:#C4CCAC;
	font-family:Tahoma;
	color:#727C54;
	font-size:11px;
	text-align:center;
}

#footerNav a {
	color:#727C54;
	text-decoration:underline;
}

#footerNav a:hover {
	text-decoration:none;
}

#footerSub {
	font-family:Tahoma;
    background-color:#C4CCAC;
	color:#9EA68A;
	padding:10px 5px 10px 5px;
	font-size:10px;
	text-align:center;
}

#footerSub a {
	color:#9EA68A;
	border-bottom:1px #9EA68A dotted;
	text-decoration:none;
}

#footerSub a:hover {
	border-bottom:1px #727C54 dotted;
	color:#727C54;
}

#nav {
	margin-left: 209px;
	margin-top: 94px;
	height: 30px; 
	width: 593px;
}

#nav .rollover	{ cursor: hand; cursor: pointer; }

.clear {
    clear: both;
    font-size: .01em;
    height: 1px;
    overflow: hidden;
}


