#head-home {
	background:white url('../images/home-main.jpg') no-repeat;
	height:501px;
	width:817px;
}

#head-home ul {
	margin:0;
	padding:0;
	list-style:none;
}

#head-home li {
	float:right;
	
}

#head-home ul a {
	color:#CDD6A8;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	display:block;
	padding:4px 8px 4px 8px;
	background-color:#9DB863;
	border-left:1px white solid;
	
}

#head-home ul a:hover {
	color: white;
	background-color: #5B7E2F;
}

#nav-home {
	margin-left: 18px;
	margin-top: 101px;
	height: 30px; 
	width: 593px
}
#nav-home a{
    display: block;
    float: left;
}
#nav-home img{
    display: block;
    float: left;
}

#nav-home .rollover	{ cursor: hand; cursor: pointer; }

.boxes {
	margin:10px 0 10px 0;
	float:left; 
	background-repeat:no-repeat;
	height:121px;
	font-family:Tahoma; 
	font-size:11px;
	color:#383938;
}

.boxes a {
	color:#795A3D;
	text-decoration:underline;
}

.boxes a:hover {
	text-decoration:none;
}